.p_style{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    color: blue;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:0.5rem ;
}

.border{
    border:solid;
    border-radius: 10px;
    width: 100%;
    height: 70%;
    text-align: center;
    border-spacing: 1rem;
}