<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>iFASTATHANU</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    </head>
    <body>
    <h1>Dashboard</h1>

{#    <form action="">#}
{#        <input type="submit" value="Press to get metrics"/>#}
{#    </form>#}

    <p>
        <a onclick="getMetrics()" href="metrics.html" class="button">GET metrics</a>
    </p>

    <script type="text/javascript"
            src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
    </body>
</html>